*{
    box-sizing: border-box;
}


body{
    background:rgb(244, 241, 241);
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    /* font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
    color: rgb(0, 0, 0);
}

   

    /* background: rgb(244, 241, 241);
    line-height: 1.2;
    font-family: "nitti-typewriter-cameo", sans-serif;
    font-optical-sizing: auto;
    color: blue;
} */


/* h2{
    font-family: "dazzle-unicase", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
} */

.header h2 {
    margin-bottom: 0px;
}

h1{
    font-size: 0px;
    margin: 0;
}

p{
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/
.header{
    display: grid;
    grid-template-columns: auto 120px auto ;
    justify-content: space-between;
    align-items: center;
    background: rgb(244, 241, 241);
    /* padding-left: px;
    padding-right: px; */
    position: sticky;
    z-index: 999;
    top: 0%;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-top: 7px;
    height: 60px;;
}

.header a{
    text-decoration: none;
    color: currentColor;
}   
    
.cadre{   
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 3px;
    margin: 10px;
}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.nav a{
    text-decoration: none;
    color: currentColor;
    justify-content: center;
    font-size: 33px;
    cursor: url('sourisicone.svg'), auto;

}

.nav a{
    display: block;
    padding: 0.2px;
}

.nav img{
    display: block;
    width: 100%;
    height: auto;
}

.hover-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.hover-img img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s;
    opacity: 1;
}

.hover-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: rgb(244, 241, 241, 1);
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: 0.3s;
}

.hover-img:hover span {
    opacity: 1;
}
/****
page projet
*****/

.projet{
    background: rgb(240, 239, 237);
}

.projet h1{
    font-size: 20px;
    color:rgb(0, 0, 0);
}

.projet p{
    color: rgb(0, 0, 0);
}

